@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
  }

  @keyframes stroke {
    0% {
      fill: rgba(72, 138, 204, 0);
      stroke: #353639;
      stroke-dashoffset: 25%;
      stroke-dasharray: 0 50%;
      stroke-width: 2;
    }
    70% {
      fill: rgba(72, 138, 204, 0);
      stroke:#353639;
    }
    80% {
      fill: rgba(72, 138, 204, 0);
      stroke: #353639;
      stroke-width: 3;
    }
    100% {
      fill: #353639; 
      stroke: rgba(54, 95, 160, 0);
      stroke-dashoffset: -25%;
      stroke-dasharray: 50% 0;
      stroke-width: 0;
    }
  }
  
  .wrapper {
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  svg {
    font-family: "Anton", sans-serif;
  }
  
  svg text {
    animation: stroke 5s infinite alternate;
    stroke-width: 2;
    stroke: #353639;
    font-size: 200px;
    fill: #353639; /* Optional: base fill */
  }
  
  
  .floating {
    animation: float 4s ease-in-out infinite;
  }
  
  /* Hide scrollbar utility */
.scrollbar-hide::-webkit-scrollbar {
  
  height: 4px;
  background-color:lightgray;  
  border-radius: 5px;
}

/* Hide browser scrollbar across all browsers */
html, body {
  overflow-y: scroll; /* or 'auto' if needed */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
/* index.css or globals.css */



.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

