@import "tailwindcss";

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
  }
  
  .floating {
    animation: float 4s ease-in-out infinite;
  }
  
  /* Hide scrollbar utility */
.scrollbar-hide::-webkit-scrollbar {
  
  height: 4px;
  background-color:lightgray;  
  border-radius: 5px;
}

/* Hide browser scrollbar across all browsers */
html, body {
  overflow-y: scroll; /* or 'auto' if needed */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
/* index.css or globals.css */



.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
